{% extends "main.html.twig" %}
{% block content %}
    <form action="{{ baseUrl() }}/{{ controllerName }}/edit/{{ model.id }}" method="post" data-validate="parsley" enctype="multipart/form-data">
        <div class="crud-content">
            {% if flash.success %}
                <div class="alert alert-success">
                    {{ flash.success }}
                </div>
            {% endif %}
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}

            <input type="hidden" name="data[id]" value="{{ model.id }}">
            {% block formContent %}
            {% endblock %}
        </div>
        <div class="form-footer">
            <div class="form-group">
                {% if not readonly %}
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>
                        Salvar
                    </button>
                {% endif %}
                <a href="{{ baseUrl() }}/{{ controllerName }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Voltar
                </a>
                <a href="{{ baseUrl() }}/{{ controllerName }}/edit" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Novo
                </a>
            </div>
        </div>
    </form>
{% endblock %}
